@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p id="hello">Hello!</p>
<script src="~/js/app-talk.js"></script>
<script src="~/js/app.js"></script>
<p>Use this area to provide additional information.</p>
